In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import roc_curve, roc_auc_score
from imblearn.under_sampling import RandomUnderSampler
from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import LinearRegression
from sklearn import metrics
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import RandomizedSearchCV
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import mean_squared_error, r2_score

#For Evaluating models.
import eli5
from eli5.sklearn import PermutationImportance

In [2]:
data = pd.read_csv('PATH', index_col=0)

In [3]:
data.drop(columns=['action', 'system', 'subject'], inplace = True)

Dummy the direction column

In [4]:
data = pd.get_dummies(data, columns=['direction'], drop_first=True)

There are no null values.

In [5]:
data.isnull().sum()

floor                    0
wait_time                0
arriving_elevator        0
arriving_from_floor      0
total_floors_traveled    0
direction_up             0
dtype: int64

In [6]:
data

,floor,wait_time,arriving_elevator,arriving_from_floor,total_floors_traveled,direction_up
time,,,,,,
2019-01-01 07:50:53.906554,0,0,1,0,0,1
2019-01-01 07:54:40.829759,0,0,2,0,0,1
2019-01-01 08:01:37.689910,0,0,0,0,0,1
2019-01-01 08:10:29.154320,0,0,3,0,0,1
2019-01-01 08:15:34.082043,0,8,2,2,2,1
...,...,...,...,...,...,...
2019-05-29 21:33:52.172793,2,8,1,0,2,0
2019-05-29 21:38:43.165430,2,8,3,0,2,0
2019-05-29 21:58:30.144980,15,60,2,0,15,0
2019-05-29 22:18:53.757071,16,64,0,0,16,0
2019-05-29 22:27:20.316376,2,8,3,0,2,0

#### Split the data into train/test set.

In [7]:
X = data.drop(columns=['wait_time'], axis=1)
y = data.wait_time


X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

#### Scale the data.

In [8]:
feature_names = X.columns.to_list()

X_scaler = StandardScaler()
X_scaled = X_scaler.fit_transform(X_train) #Fit/Transform to the training data


X_train_b = pd.DataFrame(X_scaled, columns=feature_names)

X_test_b = pd.DataFrame(X_scaler.transform(X_test), columns=feature_names)

### Linear Regression

In [9]:
linreg = LinearRegression()

In [10]:
linreg.fit(X_train, y_train)

LinearRegression()

In [11]:
#predict on the test set
y_pred = linreg.predict(X_test)

In [12]:
r2_score(y_test, y_pred)

0.7897388769994547

In [19]:
linreg_perm = PermutationImportance(linreg, random_state=1).fit(X_train, y_train)

In [20]:
eli5.show_weights(linreg_perm, feature_names=feature_names)